* {
  border: black 1px solid;
}

body {
  background-image: url(/img/salmon.png);
  background-color: salmon;
}

header {
  background-color:sienna;
  padding: 20px;
}

nav>ul>li {
  display: inline;
  padding:
}

h1 {
  font-size: 3.5em;
  text-align: center;
}