/* * {
  border: black 1px solid;
} */

main {
  background-color:tomato;
  margin-top: 200px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

table {
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

table * {
  border: 3px solid black;
  background-color: sandybrown;
  font-size: 1.2em;
  padding: 0px 3px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

thead {
  font-weight: bold;
}

body {
  background-image: url(/img/salmon.png);
  background-color: salmon;
}

header {
  background-color:sienna;
  padding: 20px;
}

nav>ul>li {
  display: inline;
  padding:
}

h1 {
  font-size: 3.5em;
  text-align: center;
}